<!DOCTYPE html>

<html>
    <head>
    <title> To Do List </title>
    </head>
    <script src="/jquery-3.5.1.min.js"></script>
    <script src="/crud_method.js"></script>
    <body>
    <h1>404 PAGE NOT FOUND</h1>
    <a href="/todo"> GO BACK TO Todo page </a>
    </body>
</html>
